header {
	font-family: Futura; Trebuchet MS;
	font-weight: bold condensed;
	color: #07294D;
   font-size: 25px;

	padding:8px;
}

body {
	font-family: times;
	font-weight: normal;
	color: #06293A;
   font-size: 15px;
}

h1 {
	font-family: helvetica;
	font-weight: italic;
	color: #17028B;
	font-size: 30px;
	
	padding:4px;
}

p {
	padding:6px;
}

#content {
	padding:3px;
}

#Drexel {
	/* Center the image */
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#main_nav ul {
	list-style: none;
	padding: 0;
	margin: 10px;
	font-weight: bold;
}

#main_nav u1 li {
	background-color: #fff;
	border: 1px solid #999;
	color: #222;
	display: block;
	margin-bottom: -1px;
	padding: 12px 10px;
}

#main_nav ul li a{
	text-decoration: none;
}

/* add traditional rounded corners to the navigation menu */

#main_nav li:first-child {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

#main_nav li:last-child {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;

nav li:active {
	background-color: #ccc;
	background-image: none;
	box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}

footer {
	font-family: arial;
	font-weight: bold;
	color: #aaa;
	font-size: 8px;

	display: block;
	margin-left:auto;
	margin-right:auto;
}




