label {
	display: block;
}

input {
	height: 20px ;
	font-size: 15px;
	margin-bottom: 10px;
}

input:invalid {
	border: 1px dashed red;
}

input:valid {
	border: 1px dashed green;
}

input:required {
	border: 2px solid black;
}

form {
  	padding: 25px;
 	margin-top: 5px;
  	border: 1px solid gray;
  	border-radius: 15px;
  	box-shadow: inset 0 0 4px 1px #696969;
	background-color: #DCDCDC;
}

input[type='submit'] {
	width: 100px;
   height: 25px;
 	margin-right: 40px;
	font-size: 16px;
	-webkit-border-image: url("blueButton.png") 0 14 0 14 stretch;
}

